html,
body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100% !important;
}

.my-footer,
.push {
  height: 180px !important;
}
.my-footer {
  background-color: #f7fbfd;
  padding: 1em;
}

.has-text-centered {
  text-align: center !important;
}

.has-text-right {
  text-align: right !important;
}

a {
  text-decoration: none;
  color: #fff !important;
}

.icon {
  margin: 3px;
}
